/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* customer */

body{
    color: #666666;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.label span{
    transition: 0.2s ease;
}
.label input:valid ~ span, .label input:focus ~ span,
.label textarea:valid ~ span, .label textarea:focus ~ span{
    color: #9d9d9d;
    transform: translate(-12%, -120%) scale(0.75);
    -webkit-transform: translate(-12%, -120%) scale(0.75);
}
.label input:valid ~ span[class*=white-], .label input:focus ~ span[class*=white-],
.label textarea:valid ~ span[class*=white-], .label textarea:focus ~ span[class*=white-]{
    color: #fff;
}
.label em:before, .label em:after{
    content: '';
    position: absolute;
    width: 0;
    top: -1px;
    border-top: #ed2553 solid 2px;
    transition: .2s ease;
}
.label em.black:before, .label em.black:after{
    border-color: #000;
}
.label em.white:before, .label em.white:after{
    border-color: #fff;
}
.label em.pink:before, .label em.pink:after{
    border-color: #FF80CC;
}
.label em.gold:before, .label em.gold:after{
    border-color: #FFB700;
}
.label em.gray:before, .label em.gray:after{
    border-color: #777777;
}
.label em.blue:before, .label em.blue:after{
    border-color: #357EDD;
}
.label em.navy:before, .label em.navy:after{
    border-color: #001B44;
}
.label input:focus ~ em:before, .label input:focus ~ em:after,
.label textarea:focus ~ em:before, .label textarea:focus ~ em:after{
    width: 50%;
}
.label em:before{
    left:50%;
}
.label em:after{
    right:50%;
}

.button{
    transition: .3s ease;
}
.button:hover{
    border-color: #ff725c;
    color: #ff725c;
    background: #fff;
}
.button:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ff725c;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    transition: .3s ease;
}
.button:active, .button:focus {
    color: #fff;
}
.button:active:before, .button:focus:before {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(10);
}

.ease{
    transition: .3s ease;
}
.h2-5{
    height: 3.2rem;
}
.w2-5{
    width: 3.2rem;
}
.blur:before{
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 4;
}